@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #3FCECC;
}

::selection {
  color: black;
  background: #3FCECC;
}